
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div> 
        <h1>Home</h1>
            <a href="/Pagina/Home">Home</a>
            <a href="/Pagina/Sobre">Sobre</a>
            <a href="/Pagina/Produtos">Produtos</a>
            <a href="/Pagina/Contato">Contato</a>
    </div>
</body>
</html>
