
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resultado</title>
</head>
<body>
    <div> 
        <p>Média dos alunos => @ViewBag.Media</p>
        <p>Alunos que tiveram nota acima da média => @ViewBag.Alunos</p>
    </div>
</body>
</html>
