
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="/ExercicioCinco/Resultado" method="post">
            <p>Primeira Pessoa:</p>
            <label for="nomeUm">Digite um seu nome => </label>
            <input type="text" name="nomeUm" />
            <br /><br />
            <label for="pesoUm">Digite seu peso => </label>
            <input type="text" name="pesoUm" />
            <br /><br />
            <label for="alturaUm">Digite sua altura => </label>
            <input type="text" name="alturaUm" />
            <br /><br />
            <br /><br />
            <p>Segunda Pessoa:</p>
            <label for="nomeDois">Digite um seu nome => </label>
            <input type="text" name="nomeDois" />
            <br /><br />
            <label for="pesoDois">Digite seu peso => </label>
            <input type="text" name="pesoDois" />
            <br /><br />
            <label for="alturaDois">Digite sua altura => </label>
            <input type="text" name="alturaDois" />
            <br /><br />
            <br /><br />
            <p>Terceira Pessoa:</p>
            <label for="nomeTres">Digite um seu nome => </label>
            <input type="text" name="nomeTres" />
            <br /><br />
            <label for="pesoTres">Digite seu peso => </label>
            <input type="text" name="pesoTres" />
            <br /><br />
            <label for="alturaTres">Digite sua altura => </label>
            <input type="text" name="alturaTres" />
            <br /><br />
            <br /><br />
            <input type="submit" name="Botao" value="Enviar">
            <br /><br />
        </form>
    </div>
</body>
</html>
