
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resultado</title>
</head>
<body>
    <div>
        <h1>Pessoa com maior peso:</h1>
        <p>@ViewBag.pessoaMaiorPeso</p>
        <p>@ViewBag.maiorPeso Kg</p>

        <br /><br />

        <h1>Pessoa mais alta:</h1>
        <p>@ViewBag.pessoaMaisAlta</p>
        <p>@ViewBag.maiorAltura m</p>
    </div>
</body>
</html>
