
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="/ExercicioDois/Resultado" method="post">
            <label for="txtS1">Salário primeira pessoa => </label>
            <input type="text" name="txtS1" />
            <label for="txtF1">Qtde filhos primeira pessoa => </label>
            <input type="text" name="txtF1" />
            <br /><br />

            <label for="txtS2">Salário segunda pessoa => </label>
            <input type="text" name="txtS2" />
            <label for="txtF2">Qtde filhos segunda pessoa => </label>
            <input type="text" name="txtF2" />
            <br /><br />

            <label for="txtS3">Salário terceira pessoa => </label>
            <input type="text" name="txtS3" />
            <label for="txtF3">Qtde filhos terceira pessoa => </label>
            <input type="text" name="txtF3" />
            <br /><br />

            <label for="txtS4">Salário quarta pessoa => </label>
            <input type="text" name="txtS4" />
            <label for="txtF4">Qtde filhos quarta pessoa => </label>
            <input type="text" name="txtF4" />
            <br /><br />

            <label for="txtS5">Salário quinta pessoa => </label>
            <input type="text" name="txtS5" />
            <label for="txtF5">Qtde filhos quinta pessoa => </label>
            <input type="text" name="txtF5" />
            <br /><br />

            <label for="txtS6">Salário sexta pessoa => </label>
            <input type="text" name="txtS6" />
            <label for="txtF6">Qtde filhos sexta pessoa => </label>
            <input type="text" name="txtF6" />
            <br /><br />

            <label for="txtS7">Salário sétima pessoa => </label>
            <input type="text" name="txtS7" />
            <label for="txtF7">Qtde filhos sétima pessoa => </label>
            <input type="text" name="txtF7" />
            <br /><br />

            <input type="submit" name="name" value="Calcular" />
        </form>
    </div>
</body>
</html>
