
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resultado</title>
</head>
<body>
    <div>
        <p>Média dos salários => @ViewBag.Salario</p>
        <p>Média de filhos => @ViewBag.Filho</p>
        <p>Maior salário => @ViewBag.MaiorSal</p>
        <p>Percentual de pessoas com salário menor que R$1500 => @ViewBag.Percentual</p>
    </div>
</body>
</html>
