
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmar</title>
</head>
<body>
    <div> 
        <h1>Confirmação</h1>
        <h2>@ViewBag.Confirmacao</h2>
    </div>
</body>
</html>
