
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logar</title>
</head>
<body>
    <div>
        <form action="/Verificar/Confirmar" method="post">
            <label for="txtEmail">Digite o seu email:</label>
            <input type="text" name="txtEmail" />
            <br /><br />
            <label for="txtSenha">Digite a sua senha:</label>
            <input type="password" name="txtSenha" />
            <br />
            <input type="submit" name ="Botao" value="Enviar">
            <br /><br />
        </form>
    </div>
</body>
</html>
