
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="/Calcular/Resultado" method="post">
            <label for="mes1">Digite a temperatura de Janeiro =></label>
            <input type="number" name="mes1" />
            <br /><br />
                  <label for="mes2">Digite a temperatura de Fevereiro =></label>
            <input type="number" name="mes2" />
            <br /><br />
                  <label for="mes">Digite a temperatura de Março =></label>
            <input type="number" name="mes3" />
            <br /><br />
                  <label for="mes4">Digite a temperatura de Abril =></label>
            <input type="number" name="mes4" />
            <br /><br />
                  <label for="mes5">Digite a temperatura de Maio =></label>
            <input type="number" name="mes5" />
            <br /><br />
                  <label for="mes6">Digite a temperatura de Junho =></label>
            <input type="number" name="mes6" />
            <br /><br />
                  <label for="mes7">Digite a temperatura de Julho =></label>
            <input type="number" name="mes7" />
            <br /><br />
                  <label for="mes8">Digite a temperatura de Agosto =></label>
            <input type="number" name="mes8" />
            <br /><br />
                  <label for="mes9">Digite a temperatura de Setembro =></label>
            <input type="number" name="mes9" />
            <br /><br />
                  <label for="mes10">Digite a temperatura de Outubro =></label>
            <input type="number" name="mes10" />
            <br /><br />
                  <label for="mes11">Digite a temperatura de Novembro =></label>
            <input type="number" name="mes11" />
            <br /><br />
                  <label for="mes12">Digite a temperatura de Dezembro =></label>
            <input type="number" name="mes12" />
            <br /><br />
            <input type="submit" name="Enviar" value="Enviar" />
        </form>
    </div>
</body>
</html>
