
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="/ExercicioUm/Resultado" method="post">
            <p>Primeira pessoa:</p>
            <label for="notaUm">Digite sua nota => </label>
            <input type="text" name="notaUm" />
            <br /><br />
            <p>Segunda pessoa:</p>
            <label for="notaDois">Digite sua nota => </label>
            <input type="text" name="notaDois" />
            <br /><br />
            <p>Terceira pessoa:</p>
            <label for="notaTres">Digite sua nota => </label>
            <input type="text" name="notaTres" />
            <br /><br />
            <input type="submit" name="Botao" value="Enviar">
            <br /><br />
        </form>
    </div>
</body>
</html>
