
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resultado</title>
</head>
<body>
    <div>
        <p>Média das notas => @ViewBag.Media</p>
        <p>Maior nota => @ViewBag.Maior</p>
        <p>Menor nota => @ViewBag.Menor</p>
    </div>
</body>
</html>
