
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImpPar</title>
</head>
<body>
    <div>
        <h1>Qtde números pares e impares</h1>
        <p>Número pares => @ViewBag.Par</p>
        <p>Número impares => @ViewBag.Impar</p>
    </div>
</body>
</html>
