
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="/ExercicioUm/ImpPar" method="post">
            <label for="txtNum1">Digite o primeiro número => </label>
            <input type="text" name="txtNum1" />
            <br /><br />
            <label for="txtNum2">Digite o segundo número => </label>
            <input type="text" name="txtNum2" />
            <br /><br />
            <label for="txtNum3">Digite o terceiro número => </label>
            <input type="text" name="txtNum3" />
            <br /><br />
            <label for="txtNum4">Digite o quarto número => </label>
            <input type="text" name="txtNum4" />
            <br /><br />
            <input type="submit" name="Botao" value="Enviar">
            <br /><br />
        </form>
    </div>
</body>
</html>
