
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resultado</title>
</head>
<body>
    <div> 
        <h1>Resultado</h1>
        <p>Número Inicial => @ViewBag.numInicial</p>
        <p>Número Final => @ViewBag.numFinal</p>
        <p>Qtde números impares = @ViewBag.qtdeImp</p>
    </div>
</body>
</html>
