
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="/ExercicioQuatro/Resultado" metho.d="post">
            <p>Primeira pessoa:</p>
            <label for="numInicial">Digite o primeiro número => </label>
            <input type="text" name="numInicial" />
            <br /><br />
            <p>Segunda pessoa:</p>
            <label for="numFinal">Digite o último número => </label>
            <input type="text" name="numFinal" />
            <br /><br />
            <input type="submit" name="Botao" value="Enviar">
            <br /><br />
        </form>
    </div>
</body>
</html>
