
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resultado</title>
</head>
<body>
    <div>
        <p>Primeiro número => @ViewBag.numInicial</p>
        <p>Segundo número => @ViewBag.numFinal</p>
        <p>Quantidade multiplos de 3 => @ViewBag.qtdeMultTres</p>
    </div>
</body>
</html>
