
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="/ExercicioDois/Resultado" method="post">
            <label for="numTab">Digite um número para achar sua tabuáda => </label>
            <input type="text" name="numTab" />
            <br /><br />
            <input type="submit" name="Botao" value="Enviar">
            <br /><br />
        </form>
    </div>
</body>
</html>
