
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="/ExercicioUm/Resultado" method="post">
            <p>Primeira pessoa:</p>
            <label for="pessoaUm">Digite seu ano de nascimento => </label>
            <input type="text" name="pessoaUm" />
            <br /><br />
            <p>Segunda pessoa:</p>
            <label for="pessoaDois">Digite seu ano de nascimento => </label>
            <input type="text" name="pessoaDois" />
            <br /><br />
            <p>Terceira pessoa:</p>
            <label for="pessoaTres">Digite seu ano de nascimento => </label>
            <input type="text" name="pessoaTres" />
            <br /><br />
            <p>Quarta pessoa:</p>
            <label for="pessoaQuatro">Digite seu ano de nascimento => </label>
            <input type="text" name="pessoaQuatro" />
            <br /><br />
            <input type="submit" name="Botao" value="Enviar">
            <br /><br />
        </form>
    </div>
</body>
</html>
