
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resultado</title>
</head>
<body>
    <div>
        <p>Média das idades => @ViewBag.MediaIdade</p>
        <p>Maior idade => @ViewBag.MaiorIdade</p>
        <p>Menor idade => @ViewBag.MenorIdade</p>
    </div>
</body>
</html>
